@import 'variables.scss';

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
}
.container-fluid  {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}
.row {
    display: flex;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    transition: 0.3s;
}


.row-ld-header {
    justify-content: space-between;
    align-items: center;
    min-height: 160px;
    border-bottom: 1px solid #F6F6F6;
    &__col {
        width: 18%;
    }
}

.contact-btn {
    display: block;
    max-width: 186px;
    padding: 10px 30px;
    border-top-width: 1px;
    border-bottom-width:2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #D31900;
    border-style: solid;
    border-radius: 30px;
    color: #D31900;
    position: relative;
    font-family: Roboto;
    font-size: 16px; 
    
    &:hover {
        background: #D31900;
        color: #fff;
        svg {
            transition: 0.3s;
            fill: #fff;
        }
    }
    svg {
        fill: #D31900;
        vertical-align: middle;
        position: relative;
        top: -3px;
        left: 10px;
    } 
    
}


.cooperation {
    padding-top: 20px;
    padding-bottom: 10px;
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
        display: inline-block;
        &_def {
            color: #D31900;
        }
    }
}


.basic {
    &-h1 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 400;
        color: #1D1B1B;
        margin-bottom: 30px;
    }
    &-h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 40px;
        &_white {
            color: #fff;
        }
        &_red {
            color: #D31900;
        }
    }
    &-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #1D1B1B;
        &_white {
            color: #fff;
        }
    }
}

.copy-block {
    justify-content: space-between; 
    padding-top: 50px;
    &__text-side {
        width: 50%;
    }
    &__pic-side {
        width: 50%;
    }
    &__btn-wrap {
        margin-top: 30px;
        width: 244px;
        height: 56px;
        border-radius: 30px;
        transition: 0.3s;
        color: #D31900;
        background: url(../images/dest/yellow-btn-border.png) no-repeat center;
        &:hover {
            color: #fff;
            background: #FF9900;
        }
    }   
    &__contact-btn {
        padding: 18px 0;
        display: block;
        height: 100%;
        position: relative;
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        transition: 0.3s;
        text-align: center;
        color: #D31900;
        &:hover {
            color: #fff;
            
        }
    }
}

.pic-side {
    display: flex;
    align-self: flex-end;
    &__img {
        // width: 80%;
        display: block;
        margin: 0 auto;
    }
    &_65 {
        width: 65%;
    }
}
.text-side {
    width: 40%;
    display: block;
    &_30 {
        width: 33%;
    }
}


.grey-bg {
    min-height: 500px;
    background: #E0E0E0;
}

.red-bg {
    min-height: 500px;
    background: #D31900;
}

.yellow-bg {
    min-height: 500px;
    background: #FAD244;
    padding-bottom: 30px;
}
.form {
    width: 60%;
        &__left-side {
            width: 50%;
        }
        &__right-side {
            width: 50%;
        }
        &-description {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #1D1B1B;
            margin-bottom: 30px;
        }
}
.form-wrap {
    border-radius: 10px;
    padding: 30px;
    border: 2px solid #FAD244;
    justify-content: space-between;
    &-inner {
        box-sizing: border-box;
        
    }
}
label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D1B1B;
    opacity: 0.5;
}

.custom-inputs {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #1D1B1B;
    margin-top: 15px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #1D1B1B;
    &:focus {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #1D1B1B;
    }
}
.message-area {
    width: 90%;
    padding: 10px;
}
.form-pic {
    display: flex;
    align-self: center;
    width: 40%;
    &__img {
        width: 80%;
    }
}
.sub-btn {
    width: 244px;
    height: 56px;
    background: #fff;
    border: none;
    margin: 30px 100px 70px auto ;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #D31900;
    border-radius: 30px;
    transition: 0.3s;
    background: url(../images/dest/red-btn-border.png) no-repeat center;
    &:hover {
        color: #fff;
        cursor: pointer;
        background: #D31900;
    }
}

.footer {
    padding-top: 50px;
    min-height: 375px;
    background: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #F4F4F3;
    &__info-wrap {
        width: 20%;
    }
    &__contact-link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #F4F4F3;
        margin: 20px 0; 
        display: block;
        }
}
.soc-icons {
    margin-top: 20px;
    margin-bottom: 32px;
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
    &__link {
        svg {
            fill: #828282;
        }
        &:hover svg {
            transition: 0.3s;
            fill: #D31900;
            opacity: 0.6;
        }
    }
    
}
address {
    margin: 10px 0 ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F4F4F3;
}
@import 'media.scss';





