
@media (max-width: 1400px) {
    .row-ld-header__col {
        width: 25%;
    }
}
@media only screen and (max-width: 948px) {
    .row-ld-header__col {
        width: 40%;
    }
    .basic-h2 {
        font-size: 30px;
    }
    .basic-text {
        font-size: 14px;
    }
    .empty-col {
        display: none;
    }
    .contact-btn {
        margin: 0 auto;
    }
    .container-fluid {
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 768px) {
    
    
    .copy-block {
        flex-wrap: wrap;
        &__pic-side {
            width: 100%;
            
        }
        &__text-side {
        
            width: 100%;
        }
    }
    .pic-side__img {
        margin: 20px auto;
        width: 70%;
    }
    .form {
        width: 100%;
        order: 2;
    }
    .form-pic {
        width: 70%;
        margin: 0 auto;
        order: 1;
    }
    .footer__info-wrap {
        width: 50%;
    }
    .title-footer {
        width: 250px;
    }
    
}

@media only screen and (max-width: 620px) {
    .contact-btn {
        display: none;
    }
}
@media only screen and (max-width: 566px) {
    .row-ld-header {
        min-height: 80px;
    }
   .form-wrap-inner {
       flex-wrap: wrap;
   }
   .form__left-side {
       width: 100%;
   }
   .form__right-side {
       width: 100%;
   }
   .custom-inputs {
       width: 100%;
   }
//    .message-area {
//        width: 100%;
//    }
   .sub-btn {
       margin: 30px auto;
   }
   .copy-block__btn-wrap {
       margin: 20px auto;
   }
   .soc-icons {
    width: 100%;
}
    .pic-side__img {
        width: 100%;
    }
}   

@media only screen and (max-width: 400px) {
    .basic-h2 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1200px) {
    .form-rect__first-line {
        width: 100%;
    }
    .girl-pic {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
    }
    .basic-h1 {
        width: 100%;
    }
    .pseudo-tab {
        display: none !important;
    }
    .price-info {
        width: 80%;
    }
    .third-block__items {
        flex-wrap:wrap;
    }

}


@media only screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__logo  {
        width: 90% !important;
    }
    .bars {
        display: block;
    }
    .mob-menu .nav {
        flex-direction: column;
        color: $white !important;
        .basic-link {
            color: $white !important;
        }
    }

}


@media only screen and (max-width: 376px) {
    .second-block {
        padding-top: 0;
    }
    .third-block__item {
        width: 100% ;
    }
    .price {
        min-width: 20%;
    }
    .price-info__persent, .price-info__text, .price-val, .price-val-info {
        font-size: 15px;
        line-height: 15px;
    }
    .price-info, .price {
        background-size: cover;
    }

    .third-block .double-arrows {
        display: block;
        margin: 10px auto;
        transform: rotate(90deg);

    }
    .basic-h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .block-five__items  {
        flex-wrap: wrap;    
    }
    .block-five__items_item {
        width: 30%;    
    }
    .block-seven__item {
        width: 100%;
    }
    .footer .nav {
        display: none;  
    }



    
}